{{#foreach navigation}}
    <li {{#if current}}class="active"{{/if}}><a href="{{url absolute="true"}}">{{label}}</a>
    </li>
{{/foreach}}
    <li>
	<a href="http://laurendo.es/" class="sf-nav-hire">Hire me</a>
	</li>
