<div class="widget">
	<h3 class="widget-title">		
		About		
	</h3>
	<div class="widget-content">
		<div class="about-container">
			<div class="avatar">
				<img class="img-responsive" src="/shared/img/user-image.png" alt="avatar"/>
			</div>
			<div class="desc">
				<h4 class="author-name">Lauren Kelly</h4>	
				<p>
					Graphic Designer at <a href="http://laurendo.es/">Lauren Does</a>. Occasional coder. BSc in Psychology.</p>				
			</div>
		</div>
	</div>
</div>