{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/formforthought/" target="_blank" title="Facebook">
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/formforthought" target="_blank" title="Twitter">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="google">
		<a href="#" target="_blank" title="Google"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="linkedin">
		<a href="#" target="_blank" title="LinkedIn"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-linkedin"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="pinterest">
		<a href="https://www.pinterest.com/formforthought/" target="_blank" title="pinterest">
			<i class="fa fa-pinterest"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="dribbble">
		<a href="https://dribbble.com/laurendoes" target="_blank" title="dribbble">
			<i class="fa fa-dribbble"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}